
@{
    ViewBag.Title = "Kullanıcılar";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@using KandQTicaret.Models

@model MembershipUserCollection

@section heads{
    <link href="/Scripts/sweetalert/sweetalert.css" rel="stylesheet" />
}
<div class="row">
    <!-- Responsive table -->
    <div class="col-md-12">
        <div class="panel panel-default">
            <header class="panel-heading"></header>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Kullanıcı Adı</th>
                                <th>Email</th>
                                <th>Gizli Soru</th>
                                <th>Son Giriş Tarihi</th>
                                <th>Durum</th>
                                <th>İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (MembershipUser item in Model)
                            {
                                <tr>
                                    <td>@item.UserName</td>
                                    <td>@item.Email</td>
                                    <td>@item.PasswordQuestion</td>
                                    <td>@item.LastLoginDate</td>
                                    @if (item.IsApproved)
                                    {
                                        <td><span class="label label-success">Onaylı</span></td>
                                    }
                                    else
                                    {
                                        <td><span class="label label-danger">Banlı</span></td>
                                    }
                                    <td>
                                        <button class="btn btn-default btn-sm kullanicibanla" data-id="@item.UserName">Banla</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /Responsive table -->
</div>
@section scripts{
    <script src="/Scripts/sweetalert/sweetalert.min.js"></script>
    <script src="/Scripts/CommonScript.js"></script>
}





