@{
    ViewBag.Title = "Makaleler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using Blogum.Models;
@model IEnumerable<Makale>
<!-- START RESPONSIVE TABLES -->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Makaleler</h3>
                <a href="/Admin/MakaleEkle" class="btn btn-success btn-rounded btn-sm pull-right"><span class="fa fa-plus"> Yeni Ekle</span></a>
            </div>
            <div class="panel-body panel-body-table">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-actions">
                        <thead>
                            <tr>
                                <th width="50">Id</th>
                                <th>Başlık</th>
                                <th>Eklenme Tarihi</th>
                                <th>Begenme Sayısı</th>
                                <th>Okunma Sayısı</th>
                                <th>Kategori Adı</th>
                                <th>Yazar Adı</th>
                                <th>Etiketler</th>
                                <th width="100">İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Makale item in Model)
                            {
                                <tr>
                                    <td class="text-center">@item.Id</td>
                                    <td><strong>@item.Baslik</strong></td>
                                    <td>@item.EklenmeTarihi</td>
                                    <td>@item.BegenmeSayisi</td>
                                    <td>@item.OkunmaSayisi</td>
                                    <td>@item.Kategori.KategoriAdi</td>
                                    <td>@item.aspnet_Users.UserName</td>

                                    @{
                                        string etiketler = "";
                                        if (item.Etikets.Count > 0)
                                        {
                                            foreach (var tag in item.Etikets)
                                            {
                                                etiketler += tag.EtiketAdi + ",";
                                            }
                                            etiketler = etiketler.Substring(0, etiketler.Length - 1);
                                        }
                                    }
                                    @if (etiketler == "")
                                    {
                                        <td>Etiket Yok</td>
                                    }
                                    else
                                    {
                                        <td>@etiketler</td>
                                    }
                                    <td width="15%">
                                        <a href="/Admin/MakaleDuzenle/@item.Id" class="btn btn-warning btn-rounded btn-sm duzenle"><span class="fa fa-pencil"> Düzenle</span></a>
                                        <a class="btn btn-danger btn-rounded btn-sm" id="makalesil" data-msid="@item.Id"><span class="fa fa-times"> Sil</span></a>
                                    </td>
                                </tr>
                                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END RESPONSIVE TABLES -->