
@{
    ViewBag.Title = "Özellik Değerleri";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@using KandQTicaret.Models
@model IEnumerable<OzellikDeger>

@section heads{
    <link href="/Scripts/sweetalert/sweetalert.css" rel="stylesheet" />
}
<div class="row">
    <!-- Responsive table -->
    <div class="col-md-12">
        <div class="panel panel-default">
            <header class="panel-heading">
                <div class="pull-right"><a href="/Admin/OzellikDegerEkle" class="btn btn-success btn-sm">+ Yeni Ekle</a></div>
            </header>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Ad</th>
                                <th>Açıklama</th>
                                <th>Özellik Tipi</th>
                                <th>İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (OzellikDeger item in Model)
                            {
                                <tr>
                                    <td><span class="label label-success">@item.Id</span></td>
                                    <td>@item.Adi</td>
                                    <td>@item.Aciklama</td>
                                    <td>@item.OzellikTip.Adi</td>
                                    <td>
                                        <a href="@Url.Action("OzellikDegerDuzenle","Admin",routeValues:new { id = item.Id })" class="btn btn-default btn-sm">Düzenle</a>
                                        <button class="btn btn-default btn-sm ozellikdegersil" data-id="@item.Id">Sil</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /Responsive table -->
</div>
@section scripts{
    <script src="/Scripts/sweetalert/sweetalert.min.js"></script>
    <script src="/Scripts/CommonScript.js"></script>
}




